.App {
  text-align: center;
}

/* control widgets */

.spectrum-canvas-controls {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 20%;
}

.spectrum-canvas-controls > div {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
  /* margin-top: 3px;
  margin-bottom: 3px; */
}

.capitalized {
  text-transform: capitalize;
}

.mw-120 {
  min-width: 120px;
}